.employ-box {
    width: 800px;
    font-size: 18px;
    margin: 47px auto 250px;
    background: url(../../../img/employ.jpg) no-repeat top 45px left;
    border-bottom: 1px solid #cccaca;
    padding-bottom: 30px;
}

#ct .employ-box .title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 300px;
}

#ct .employ-box .paragraph {
    display: block;
    color: #777777;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}

.employ-box .btn-go-more {
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #00b38a;
    margin: 30px auto 20px;
    cursor: pointer;
}