#ct .trend-content{
	width:100%;
}
#ct .trend-banner{
	width:100%;
	height:180px;
	position:relative;
	background:url(../../../img/trend_banner.jpg) 0 0 no-repeat;
	background-size:100% 180px;
}
#ct .trend-banner .banner-content{
	width:100%;
	height:180px;
	position:absolute;
	text-align:center;
	top:0;
	left: 0;
}
#ct .trend-content .trend-tit{
	margin-top:54px;
	color:#fff;
	font-size:48px;
}
#ct .trend-content .trend-list{
	width:800px;
	margin:0 auto;
	padding-top:25px;
}
#ct .trend-content .trend-item{
	width:800px;
	height:280px;
	margin-top:30px;
	border-bottom:1px solid #d8dae1;
}
#ct .trend-content .trend-header{
	height:30px;
}
#ct .trend-content .trend-header .item-title{
	font-size:20px;
	color:#333333;
}
#ct .trend-content .item-header .right-set{
	float:right;
}
#ct .trend-content .item-header .item-split{
	color:#e5e5e5;
}
#ct .item-weixin,#ct .item-download{
	color:#00b38a;
	font-size:16px;
}
