#ct .success-content{
	width:100%;
}
#ct .success-banner{
	width:100%;
	height:180px;
	position:relative;
	background:url(../../../img/success_banner.jpg) 0 0 no-repeat;
	background-size:100% 180px;
}
#ct .success-banner .banner-content{
	width:100%;
	height:180px;
	position:absolute;
	text-align:center;
	top:0;
	left: 0;
}
#ct .success-content .success-tit{
	margin-top:54px;
	color:#fff;
	font-size:48px;
}
#ct .signContent{
	width:100%;
	height:800px;
	background:#fff;
	padding-top:40px;
}
#ct .sign-tit{
	width:100%;
	height:30px;
	line-height:40px;
	color:#555555;
	text-align:center;
}
#ct .signContent .sign-table{
	min-height:500px;
	margin:0 auto;
	overflow:hidden;
}
#ct .signContent .sign-otherType{
	width:500px;
	height:40px;
	margin:0 auto;
	overflow:hidden;
}
#ct .signContent .tips {
	width:480px;
    height: 30px;
    margin:0 auto;
    padding-top:30px;
    background: url(../../../img/sign-tipsBg.png) 0 0 no-repeat;
}

#ct .signContent .tips a {
    display: block;
    height: 28px;
    line-height:28px;
    background: url(../../../img/customer.png) 110px 0 no-repeat;
    font-size: 14px;
    color: #00b38a;
    text-align: center;
    text-decoration: none;
}