@charset "utf-8";
/* reset */
html {
    background:#ffffff
}
body {
    min-width: 1200px;
}
html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin:0;
    padding:0;
    list-style: none;
}
*{
	outline: 0;
}
a{
 cursor:pointer;
}
button{
	outline:0;
	border:0;
	cursor: pointer;
    box-sizing: border-box;
}
#ct{
	min-width: 1200px;
}
#ct .fixed-box{
	width:55px;
	height:210px;
	position:fixed;
	right:25px;
	bottom:100px;
	background:#ffffff;
	border-radius:2px;
	border:1px solid #f2f2f2;
}



