.commmon-input {
    background: #f5f6f8;
    width: 100%;
    text-align: center;
    padding: 60px 0;
}

.commmon-input h2 {
    font-size: 30px;
    font-weight: normal;
    color: #333;
    margin-bottom: 12px;
}

.commmon-input .apply-tip {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 40px;
}