#ct .footer-content{
	min-width: 1024px;
	width:100%;
    clear: both;
    height: 220px;
    margin-top:30px;
	background:url('../../../img/footer_bg.jpg') 0 120px no-repeat;
	background-size:100% 100px;
}
#ct .inner{
	width:1024px;
	height:220px;
    margin:0 auto;
}
#ct .inner ul{
	float:left;
    margin-right: 50px;
}
#ct .inner ul li{
	margin-bottom:12px;
}
#ct .footer-content .inner a {
    font-size: 14px;
    color: #484848;
}
#ct .footer-content .link-tit {
    color: #333333;
    font-weight:bold;
    font-size:14px;
    line-height:25px;
}
#ct .inner ul li .times{
	color:#999;
	font-size:12px;
}


