#ct .index-good{
	width:100%;
	height:620px;
	text-align:center;
	padding-top:70px;
	background:url('../../../img/good_bg.jpg') 0 0 repeat-x;
}
#ct .good-tit{
	color:#fff;
	font-size:30px;
}
#ct .index-good .good-list{
	width:1115px;
	margin:0 auto;
	margin-top:70px;
}
#ct .index-good .good-list .item{
	width:251px;
	height:390px;
	float:left;
	text-align:center;
	border-radius:2px;
	background-color:#fff;
	margin-right:37px;
}
#ct .index-good .good-list .item:last-child{
	margin-right:0;
}
#ct .index-good .good-list .item.first{
	background-image:url(../../../img/good-first.jpg);
	background-repeat:no-repeat;
	background-size:251px auto;
}
#ct .index-good .good-list .item.second{
	background-image:url(../../../img/good-second.jpg);
	background-repeat:no-repeat;
	background-size:252px auto;
}
#ct .index-good .good-list .item.third{
	background-image:url(../../../img/good-third.jpg);
	background-repeat:no-repeat;
	background-size:251px auto;
}
#ct .index-good .good-list .item.fourth{
	background-image:url(../../../img/good-fourth.jpg);
	background-repeat:no-repeat;
	background-size:251px auto;
}
#ct .index-good .good-list .item .item-tit{
	margin-top:110px;
	color:#333333;
	font-size:18px;
	line-height:76px;
}
#ct .index-good .good-list .item ul{
	width:251px;
	line-height:20px;
}
#ct .index-good .good-list .item li{
	font-size:14px;
	color:#999999;
}
