#ct .use-content{
	width:100%;
	height:770px;
	background:#f5f6f8;
}
#ct .use-content p{
	width:100%;
	line-height:140px;
	color:#333;
	text-align:center;
	font-size:30px;
}
#ct .use-info{
	width:1090px;
	height:535px;
	margin:0 auto;
}
#ct .use-info .item{
	/*width:330px;
	height:200px;*/
	margin-top:45px;
	margin-right:45px;
	border-radius:3px;
	float:left;
}
#ct .use-info .item:nth-child(3n+3){
	margin-right:0;
}