.second-tab {
    text-align: center;
    color: #fff;
    margin-top: -90px;
    margin-bottom: 20px;
}

.second-tab .tab-item {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    cursor: pointer;
}

.second-tab .selected {
    color: #00b38a;
    border-bottom: 1px solid #00b38a;
}

.second-tab span {
    display: inline-block;
    height: 100%;
    line-height: 30px;
}