.second-tab {
    text-align: center;
    margin: 0 auto;
    margin-top: -38px;
    z-index: 10;
}

.second-tab .tab-item {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    cursor: pointer;
}

.second-tab .selected span {
    color: #00b38a;
    border-bottom: 2px solid #00b38a;
}

.second-tab span {
    display: inline-block;
    height: 100%;
    line-height: 30px;
}