#ct .brand-box {
    width: 800px;
    font-size: 18px;
    margin: 40px auto 70px;
    /*border-bottom: 1px solid #cccaca;*/
}

#ct .brand-box img {
    margin-top: 0;
}

#ct .brand-box .article {
    border-bottom: 1px solid #cccaca;
    padding-bottom: 25px;
}

#ct .brand-box .article:last-child {
    border-bottom: 0px;
}