#ct .talent-box {
    width: 800px;
    font-size: 18px;
    margin: 47px auto 70px;
}

#ct .talent-box .article .title {
    margin-bottom: 20px;
}

#ct .talent-box .article {
    border-bottom: 1px solid #cccaca;
    padding-bottom: 30px;
}

#ct .talent-box .article:last-child {
    border-bottom: 0px;
}

.talent-bold {
    color: #333;
    font-size: 20px;
    font-weight: bold;
}