.banner-cq {
    width: 100%;
    height: 180px;
    line-height: 180px;
    text-align: center;
    font-size: 48px;
    color: #fff;
    background: url(../../../img/banner-common-question.jpg) 0 0 no-repeat;
    background-size: 100% 180px;
    margin-bottom: 57px;
}

.common-question-box {
    width: 475px;
    font-size: 18px;
    margin: 0 auto;
}

.middle-box .question-box {
    margin-bottom: 10px;
}

.question-box .question-item {
    border: 1px solid #cccaca;
    height: 72px;
    line-height: 72px;
    text-indent: 50px;
    margin-bottom: 18px;
    cursor: pointer;
    background: url(../../../img/arrow-gray-right.png) no-repeat right 30px center;
}

.question-box .question-item:hover {
    color: #00b38a;
    background: url(../../../img/arrow-green-right.png) no-repeat right 30px center;
}

.customer-tips {
    height: 44px;
    padding-top: 44px;
    background: url(../../../img/halving-line.png) no-repeat top 10px left 0px;
}

.customer-tips a {
    display: block;
    height: 28px;
    line-height: 28px;
    background: url(../../../img/customer.png) 110px 0 no-repeat;
    font-size: 14px;
    color: #00b38a;
    text-align: center;
    text-decoration: none;
}