#ct .recruit-content{
	width:100%;
}
#ct .recruit-banner{
	width:100%;
	position:relative;
	margin-bottom:35px;
}
#ct .recruit-banner img{
	display:block;
	width:100%;
	height:auto;
}
#ct .recruit-banner .content-recruit{
	width:100%;
	position:absolute;
	text-align:center;
	top:0;
	left: 0;
}
#ct .recruit-content .recruit-tit{
	color:#fff;
	font-size:48px;
	line-height:48px;
}
#ct .recruit-content .recruit-info{
	color:#b5b5b5;
	font-size:14px;
}
#ct .recruit-content .operate-tit{
	width:810px;
	height:60px;
	margin:0 auto;
	line-height:60px;
	font-size:20px;
	color:#333333;
}
#ct .recruit-content .operate-info{
	width:810px;
	height:20px;
	margin:0 auto;
	line-height:20px;
	font-size:14px;
	color:#777777;
}
#ct .recruit-content .img-bg{
	width:810px;
	margin:0 auto;
	margin-top:10px;
}
#ct .recruit-content .recruit-bg01{
	height:200px;
	background:url(../../../img/zhaopin_bg01.jpg) 0 0 no-repeat;
}
#ct .recruit-content .recruit-bg02{
	height:180px;
	background:url(../../../img/zhaopin_bg02.jpg) 0 0 no-repeat;
}
#ct .recruit-content .recruit-bg03{
	height:200px;
	background:url(../../../img/zhaopin_bg03.jpg) 0 0 no-repeat;
}
#ct .recruit-content .recruit-bg04{
	height:68px;
	background:url(../../../img/zhaopin_bg04.jpg) 0 0 no-repeat;
}
#ct .recruit-content .recruit-bg05{
	height:360px;
	background:url(../../../img/zhaopin_bg05.jpg) 0 0 no-repeat;
}
#ct .recruit-content .recruit-bg06{
	height:230px;
	background:url(../../../img/zhaopin_bg06.jpg) 0 0 no-repeat;
}
#ct .recruit-content .recruit-bg07{
	height:400px;
	background:url(../../../img/zhaopin_bg07.jpg) 0 0 no-repeat;
}
#ct .recruit-content .recruit-bg08{
	height:180px;
	background:url(../../../img/zhaopin_bg08.jpg) 0 0 no-repeat;
}
#ct .recruit-content .recruit-bg09{
	height:340px;
	background:url(../../../img/zhaopin_bg09.jpg) 0 0 no-repeat;
}
#ct .recruit-content .operate-btn{
	width:340px;
	height:190px;
	padding-top:60px;
	margin:0 auto;
}
#ct .recruit-content .operate-btn .setting-index{
	width:178px;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius:2px;
	background:#00b38a;
	color:#fff;
	font-size:16px;
}
#ct .recruit-content .operate-btn .return-home{
	width:115px;
	height:38px;
	line-height:34px;
	margin-left:42px;
	border-radius:2px;
	text-align:center;
	background:#fff;
	border:1px solid #00b38a;
	color:#00b38a;
	font-size:16px;
}