#ct .renli-content{
	width:100%;
}
#ct .renli-banner{
	width:100%;
	position:relative;
}
#ct .renli-banner img{
	width:100%;
	height:auto;
	display:block;
}
#ct .renli-banner .renli-content{
	width:100%;
	position:absolute;
	text-align:center;
	top:0;
	left: 0;
}
#ct .renli-content .renli-tit{
	color:#fff;
	font-size:48px;
}
#ct .renli-content .renli-modal{
	width:100%;
	height:920px;
	padding-top:40px;
	background:#fff;
}
#ct .renli-content .renli-modal .list-box{
	width:800px;
	height:890px;
	margin:0 auto;
}
#ct .renli-content .renli-modal .list-box .list-ptit{
	font-size:20px;
	font-weight:bold;
	line-height:40px;
	color:#333333;
}
#ct .renli-content .renli-modal .list-box .list-ctit{
	margin:5px 0;
	font-size:14px;
	line-height:20px;
	color:#777777;
}


#ct .renli-content .baoming-box{
	width:100%;
	height:610px;
	padding:70px 0;
	background:#f5f6f8;
	overflow:auto;
}
#ct .renli-content .baoming-box .baoming-ptit{
	line-height:40px;
	color:#333333;
	font-size:30px;
	text-align:center;
}	
#ct .renli-content .baoming-box .baoming-ctit{
	line-height:40px;
	color:#555555;
	font-size:14px;
	text-align:center;
}

#ct .renli-content .renli-item{
	width:388px;
	height:368px;
	margin:20px 20px 0 0;
	float:left;
	border:1px solid #d8dae1;
}
#ct .renli-content .renli-item:nth-child(2n){
	margin-right:0;
}
#ct .renli-content .renli-item .item-img{
	width:100px;
	height:100px;
	display:block;
	margin:0 auto;
	margin-top:20px;
}
#ct .renli-content .renli-item .item-img.zhaopin{
	background:url(../../../img/renli_zhaopin.png) 0 0 no-repeat;
	background-size:100px 100px;
}
#ct .renli-content .renli-item .item-img.renshi{
	background:url(../../../img/renli_renshi.png) 0 0 no-repeat;
	background-size:100px 100px;
}
#ct .renli-content .renli-item .item-img.yuangong{
	background:url(../../../img/renli_yuangong.png) 0 0 no-repeat;
	background-size:100px 100px;
}
#ct .renli-content .renli-item .item-img.qiye{
	background:url(../../../img/renli_qiye.png) 0 0 no-repeat;
	background-size:100px 100px;
}
#ct .renli-content .renli-item .item-ptit{
	margin-top:15px;
	font-size:18px;
	line-height:25px;
	color:#333333;
	text-align:center;
}
#ct .renli-content .renli-item .item-ctit{
	font-size:14px;
	line-height:25px;
	color:#555555;
	text-align:center;
}
#ct .renli-content .renli-item .item-info{
	width:300px;
	margin:0 auto;
	margin-top:15px;
	font-size:14px;
	line-height:20px;
	color:#777777;
}